<app-navigation></app-navigation>

<div class="container justify-content-around mt-3">
  <h1 class="text-center text-warning font-weight-bold">PLAYERS</h1>

  <div class="mt-3">
    <p-table [columns]="cols" [value]="players" [responsive]="true" class="text-center" sortMode="multiple"
      [multiSortMeta]="[{field: 'correctAnswers', order: -1}]" [resizableColumns]="true" [autoLayout]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th colspan="5">Player's Details</th>
        </tr>
        <tr class="pointsTableHeader">
          <th [ngStyle]="{'width':'10%'}">
            Position
          </th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th [ngStyle]="{'width':'10%'}">
            Delete
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr class="pointsTableHeader">
          <td [ngStyle]="{'width':'10%'}">
            {{rowIndex + 1}} <span *ngIf="rowIndex < 2" class="text-success"> Q</span>
          </td>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field == 'playerName'">
              {{rowData.playerName | uppercase}}
            </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
          <td [ngStyle]="{'width':'10%'}">
            <button pButton icon="pi pi-trash" [disabled]="rowIndex < 2" class="ui-button-danger"
              (click)="OpenDeletePlayers(rowIndex)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="container">
      <div class="row justify-content-end">
        <small class="text-dark"><span>Note</span> : You can't delete Qualified players</small>
      </div>
    </div>
  </div>
</div>



<p-toast position="center" key="S" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4 class="mt-4">{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
          <button type="button" pButton (click)="ConfirmDeletePlayer()" label="Yes" id="resultBtn"
            class="ui-button-secondary"></button>
        </div>

        <div class="ui-g-6">
          <button type="button" pButton (click)="onReject()" label="No" id="resultBtn"
            class="ui-button-secondary"></button>
        </div>

      </div>
    </div>
  </ng-template>
</p-toast>